@import "bootstrap-sprockets";
@import "bootstrap";


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.home_topic h1{
  color:#fff;
}

h1 {
  font-size: 3em;
  letter-spacing: 1px;
  font-weight: bold;
  color :rgb(0, 0, 0);
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  letter-spacing: 1px;
  color :rgb(0, 0, 0);
  line-height: 1.5;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

header{
  margin: 0px;
  padding: 0 60px;
  width: auto;
  height: auto;
}

#logo {
  float: left;
  margin-left: 50px;
  font-size: 2.8em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 5px 0;
// font-weight: bold;
  font-family: "Courier";
}

#logo:hover {
  color: #fff;
  text-decoration:underline;
}

footer {
  background: #272727;
  color: #fff;
  text-align: center;
  padding: 1rem;
  width: 1440px;
  height: auto;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.posts {
  list-style: none;
  padding: 0;
  display: block;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    text-align: right;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.image{
  background-image:url(image-path('coffee.jpg'));
  background-size: cover;
  background-position: center;
  height: 600px;
  position:relative;
}

.top_container{
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.home_topic {
  margin: 50px 0 0 50px;
}

.home_loginbutton {
  bottom: 0;
  right: 0;
  position:absolute;
  margin: 0 200px 200px 0;
}

.Allpost {
  padding: 10px;
  display: block;
}

.Allpost_detail {
  display: inline-block;
  border: solid;
  width: auto;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post_image {
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

.post_content {
  width: auto;
  display: inline-block;
}

.post_content p {
  margin-bottom: 0;
  font-size: 20px;
}

.name{
  color: #000;
  font-size: 20px;
}

.Mypost {
  display: inline-block;
  width: auto;
}

.Mypost_detail {
  display: inline-block;
  border: solid;
  width: auto;
  height: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px; 
}
 
.Mypost_content{
  font-size: 15px;
  display: inline-block;
}

.pagination{
  margin: 0;
}

.showAllpost_detail {
  display: inline-block;
  border: solid;
  width: 100%;
  height: auto;
  border-radius: 10px; 
  //padding: 30px;
//  margin-bottom: 10px;
}

.posts li{
  display: inline-block;
 // vertical-align: top;
}

.col-md-9{
//  height: 2000px;
}

#post_time_start{
  width: auto;
}

#post_time_end{
  width: auto;
}

.btn.btn-default{
 padding: 10px;

}

.btn-group{
  margin: 5px 5px;
}

.form-group{
  margin-top: 10px;
}

.environment.center{
  margin-bottom: 10px;
}

.evaluation.center{
  margin: 10px 0px;
}

.table{
padding: 10px 0;
}

.table tbody{
  //width: auto;
}

.table tbody tr td{
  text-align: center;
  font-size: 20px;
}

.table tbody tr th{
  font-size: 20px;
}

.post_image{
  border-radius: 35px;
}

.showAllpost_detail .post_image{
  padding: 20px;
  position: relative;
}

.showAllpost_detail .post_image img{
  border: solid;
  border-radius: 10px; 
}

.showAllpost_detail .post_content{
  padding: 20px 20px 0px 0;
}

.showAllpost_detail .post_content h3{
  font-size: 20px;
  margin: 0;
}

.button_to input{
  display: inline-block;
  text-decoration: none;
  color: #8b2929;
  width: 100px;
  line-height: 30px;
  border-radius: 80%;
  border: solid 2px #8b2929;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.navbar-right li{
  font-size: 20px;
  border-left:1.5px solid rgb(212, 212, 212);
}

.navbar-right li:hover{
  background-color: rgb(75, 74, 74);
}


.navbar-right li:last-child{
  border-right:1px solid rgb(212, 212, 212);
}

.navbar-right li a{
    padding:25px;
}

.row{
  margin-top: 50px;
}

.good_users{
  text-align: left;
}